:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;

}

ul {
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1px;
}

html {
  scroll-behavior: smooth;
}

.active {
  background-color: #bb945f;
}
